# info about options below can be found from `man 5 jail.conf`

[DEFAULT]

{% for config in fail2ban_config %}
{{ config.key }} = {{ config.value }}
{% endfor %}
logtarget = /var/log/fail2ban.log
syslogsocket = auto
socket = /var/run/fail2ban/fail2ban.sock
pidfile = /var/run/fail2ban/fail2ban.pid
dbfile = /var/lib/fail2ban/fail2ban.sqlite3
dbpurgeage = 1d
dbmaxmatches = 10
